{
  "presets": ["env"],
  "plugins": [
    ["transform-runtime"],
    [
      "component",
      [
        {
          "libraryName": "mint-ui",
          "style": true
        },
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-default"
        }
      ]
    ]
  ]
}