@media only screen and (min-width: 641px) {
    body,
    html {
        font-size: 234.38px;
    }
}

@media only screen and (max-width: 640px),
only screen and (max-device-width: 640px) {
    body,
    html {
        font-size: 200px;
    }
}

@media only screen and (max-width: 600px),
only screen and (max-device-width: 600px) {
    body,
    html {
        font-size: 187.5px;
    }
}

@media only screen and (max-width: 540px),
only screen and (max-device-width: 540px) {
    body,
    html {
        font-size: 168.75px;
    }
}

@media only screen and (max-width: 480px),
only screen and (max-device-width: 480px) {
    body,
    html {
        font-size: 150px;
    }
}

@media only screen and (max-width: 414px),
only screen and (max-device-width: 414px) {
    body,
    html {
        font-size: 129.38px;
    }
}

@media only screen and (max-width: 400px),
only screen and (max-device-width: 400px) {
    body,
    html {
        font-size: 125px;
    }
}

@media only screen and (max-width: 375px),
only screen and (max-device-width: 375px) {
    body,
    html {
        font-size: 117.19px;
    }
}

@media only screen and (max-width: 360px),
only screen and (max-device-width: 360px) {
    body,
    html {
        font-size: 112.5px;
    }
}

@media only screen and (max-width: 320px),
only screen and (max-device-width: 320px) {
    body,
    html {
        font-size: 100px;
    }
}

@media only screen and (max-width: 240px),
only screen and (max-device-width: 240px) {
    body,
    html {
        font-size: 75px;
    }
}

*,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
input,
label,
textarea,
img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Microsoft YaHei, Arial;
    font-size: 0.12rem;
    -webkit-text-size-adjust: auto;
    color: #666666;
    background: #f4f4f4;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

html {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    /* -webkit-overflow-scrolling: touch; */
}

a {
    text-decoration: none;
    outline: none;
}

input,
button,
select,
textarea {
    outline: none;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

img {
    border: 0;
    outline: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    cellspacing: 0;
    cellpadding: 0;
}

input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
}

input,
select {
    font-size: 0.10rem;
}
/* input,
textarea {
    -webkit-user-select: auto!important;
    -khtml-user-select: auto!important;
    -moz-user-select: auto!important;
    -ms-user-select: auto!important;
    -o-user-select: auto!important;
    user-select: auto!important;
} */

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.clear {
    clear: both;
    float: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.hide {
    display: none;
}

.pr {
    position: relative;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.display-box{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}
.display-flex{
    padding: 0.05rem 0 0;
    box-shadow: 0 1px 0 #e8e8e8 inset;
    -webkit-box-shadow: 0 1px 0 #e8e8e8 inset;
    box-sizing: border-box;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}
.display-box li,.flex-box{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    flex: 1;
    -moz-flex: 1;
    box-sizing: border-box;
}
.flex-box-history {
    display: flex;
    flex-wrap: wrap;
}
.display-box .lottery-issue{
    flex: none;
    margin-left: 0.15rem;
}
.flex-box-2 {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    box-flex: 2;
    flex: 2;
    -moz-flex: 2;
}

.display-vertical {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    height: 100%;
}

.display-row-reverse {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.pt5 {
    padding-top: 0.05rem;
}

.pt10 {
    padding-top: 0.1rem;
}

.pt15 {
    padding-top: 0.15rem;
}

.pb10 {
    padding-bottom: 0.1rem;
}

.pb15 {
    padding-bottom: 0.15rem;
}

.pr5 {
    padding-right: 0.05rem;
}

.pr14 {
    padding-right: 0.14rem;
}

.pr15 {
    padding-right: 0.15rem;
}

.pl5 {
    padding-left: 0.05rem;
}

.pl10 {
    padding-left: 0.1rem;
}

.pl15 {
    padding-left: 0.15rem;
}

.mt10 {
    margin-top: 0.1rem;
}

.mt15 {
    margin-top: 0.15rem;
}

.mb15 {
    margin-bottom: 0.15rem;
}

.red {
    color: red;
}

.red2 {
    color: #ff5a27;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

iframe {
    position: fixed;
    z-index: -1;
    display: none
}

.header-stone {
    width: 100%;
    text-align: center;
    padding: 0.1rem 0;
}
.header-stone img{
    display: inline-block;
    width: auto;
    height: 1.4rem;
    max-width: 100%;
    vertical-align: bottom;
}